*{
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.forms{
  margin-left: 30%;
  margin-right: 30%;
}

.header{
  margin-left: 5%;
  margin-right: 7%;
}
#ch{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

#navbar{
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}
#btn{
  text-decoration: none;
  color: white;
}

.housediv{
  display: flex;
}
img{
  border-radius: 9px;
  height: 300px; 
}
#h2{
  color: #0077ff;
  font-weight: 600;
  font-size: 18px;
}

#header{
  color: #0077ff;
  display: flex;
  justify-content: center;
}
#inline{
  margin-left: 10%;
}
.err{
  color: red;
}
#logout{
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 80px;
}
#btn{
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-top: 50px;
  margin-right: -100px;
}
.row{
  padding-left: 40px;
  
}
.grey{
  background-color: rgb(221, 225, 225);
}
.card{
  width: 18rem;
}

#img-top{
  display: flex;
  height: 600px;
  justify-content: center;
}
#crd{
  margin-left: 20%;
}
#title{
  color: #0077ff;
}

#exampleInputEmail1{
  width: 70%;
  margin-left: 10%;
}
#pri{
  margin-left: 10%;
}